xml-resources/web-service-references/ServicioEstudianteSWPort/wsdl/192.168.16.12_7101/AppServidorColegioSW-ProyectoServidorColegioSW-context-root/ServicioEstudianteSWPort.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serviciosWeb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serviciosWeb/" name="ServicioEstudianteSW">
<types>
<xsd:schema>
<xsd:import namespace="http://serviciosWeb/" schemaLocation="http://192.168.16.12:7101/AppServidorColegioSW-ProyectoServidorColegioSW-context-root/ServicioEstudianteSWPort?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarEstudiante">
<part name="parameters" element="tns:buscarEstudiante"/>
</message>
<message name="buscarEstudianteResponse">
<part name="parameters" element="tns:buscarEstudianteResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="actualizarEstudiante">
<part name="parameters" element="tns:actualizarEstudiante"/>
</message>
<message name="actualizarEstudianteResponse">
<part name="parameters" element="tns:actualizarEstudianteResponse"/>
</message>
<message name="insertarEstudiante">
<part name="parameters" element="tns:insertarEstudiante"/>
</message>
<message name="insertarEstudianteResponse">
<part name="parameters" element="tns:insertarEstudianteResponse"/>
</message>
<message name="darEstudiantesPorNombre">
<part name="parameters" element="tns:darEstudiantesPorNombre"/>
</message>
<message name="darEstudiantesPorNombreResponse">
<part name="parameters" element="tns:darEstudiantesPorNombreResponse"/>
</message>
<message name="darGradoEstudiante">
<part name="parameters" element="tns:darGradoEstudiante"/>
</message>
<message name="darGradoEstudianteResponse">
<part name="parameters" element="tns:darGradoEstudianteResponse"/>
</message>
<message name="darEstudiantes">
<part name="parameters" element="tns:darEstudiantes"/>
</message>
<message name="darEstudiantesResponse">
<part name="parameters" element="tns:darEstudiantesResponse"/>
</message>
<message name="eliminarEstudiante">
<part name="parameters" element="tns:eliminarEstudiante"/>
</message>
<message name="eliminarEstudianteResponse">
<part name="parameters" element="tns:eliminarEstudianteResponse"/>
</message>
<message name="cantidadEstudiantesPorGenero">
<part name="parameters" element="tns:cantidadEstudiantesPorGenero"/>
</message>
<message name="cantidadEstudiantesPorGeneroResponse">
<part name="parameters" element="tns:cantidadEstudiantesPorGeneroResponse"/>
</message>
<portType name="ServicioEstudianteSW">
<operation name="buscarEstudiante">
<input wsam:Action="http://serviciosWeb/ServicioEstudianteSW/buscarEstudianteRequest" message="tns:buscarEstudiante"/>
<output wsam:Action="http://serviciosWeb/ServicioEstudianteSW/buscarEstudianteResponse" message="tns:buscarEstudianteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioEstudianteSW/buscarEstudiante/Fault/Exception"/>
</operation>
<operation name="actualizarEstudiante">
<input wsam:Action="http://serviciosWeb/ServicioEstudianteSW/actualizarEstudianteRequest" message="tns:actualizarEstudiante"/>
<output wsam:Action="http://serviciosWeb/ServicioEstudianteSW/actualizarEstudianteResponse" message="tns:actualizarEstudianteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioEstudianteSW/actualizarEstudiante/Fault/Exception"/>
</operation>
<operation name="insertarEstudiante">
<input wsam:Action="http://serviciosWeb/ServicioEstudianteSW/insertarEstudianteRequest" message="tns:insertarEstudiante"/>
<output wsam:Action="http://serviciosWeb/ServicioEstudianteSW/insertarEstudianteResponse" message="tns:insertarEstudianteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioEstudianteSW/insertarEstudiante/Fault/Exception"/>
</operation>
<operation name="darEstudiantesPorNombre">
<input wsam:Action="http://serviciosWeb/ServicioEstudianteSW/darEstudiantesPorNombreRequest" message="tns:darEstudiantesPorNombre"/>
<output wsam:Action="http://serviciosWeb/ServicioEstudianteSW/darEstudiantesPorNombreResponse" message="tns:darEstudiantesPorNombreResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioEstudianteSW/darEstudiantesPorNombre/Fault/Exception"/>
</operation>
<operation name="darGradoEstudiante">
<input wsam:Action="http://serviciosWeb/ServicioEstudianteSW/darGradoEstudianteRequest" message="tns:darGradoEstudiante"/>
<output wsam:Action="http://serviciosWeb/ServicioEstudianteSW/darGradoEstudianteResponse" message="tns:darGradoEstudianteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioEstudianteSW/darGradoEstudiante/Fault/Exception"/>
</operation>
<operation name="darEstudiantes">
<input wsam:Action="http://serviciosWeb/ServicioEstudianteSW/darEstudiantesRequest" message="tns:darEstudiantes"/>
<output wsam:Action="http://serviciosWeb/ServicioEstudianteSW/darEstudiantesResponse" message="tns:darEstudiantesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioEstudianteSW/darEstudiantes/Fault/Exception"/>
</operation>
<operation name="eliminarEstudiante">
<input wsam:Action="http://serviciosWeb/ServicioEstudianteSW/eliminarEstudianteRequest" message="tns:eliminarEstudiante"/>
<output wsam:Action="http://serviciosWeb/ServicioEstudianteSW/eliminarEstudianteResponse" message="tns:eliminarEstudianteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioEstudianteSW/eliminarEstudiante/Fault/Exception"/>
</operation>
<operation name="cantidadEstudiantesPorGenero">
<input wsam:Action="http://serviciosWeb/ServicioEstudianteSW/cantidadEstudiantesPorGeneroRequest" message="tns:cantidadEstudiantesPorGenero"/>
<output wsam:Action="http://serviciosWeb/ServicioEstudianteSW/cantidadEstudiantesPorGeneroResponse" message="tns:cantidadEstudiantesPorGeneroResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioEstudianteSW/cantidadEstudiantesPorGenero/Fault/Exception"/>
</operation>
</portType>
<binding name="ServicioEstudianteSWPortBinding" type="tns:ServicioEstudianteSW">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buscarEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="actualizarEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="insertarEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="darEstudiantesPorNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="darGradoEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="darEstudiantes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="eliminarEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="cantidadEstudiantesPorGenero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="ServicioEstudianteSW">
<port name="ServicioEstudianteSWPort" binding="tns:ServicioEstudianteSWPortBinding">
<soap:address location="http://192.168.16.12:7101/AppServidorColegioSW-ProyectoServidorColegioSW-context-root/ServicioEstudianteSWPort"/>
</port>
</service>
</definitions>