src/META-INF/wsdl/192.168.16.12_7101/AppServidorColegioSW-ProyectoServidorColegioSW-context-root/ServiciosExtraSWPort.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serviciosWeb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serviciosWeb/" name="ServiciosExtraSW">
<types>
<xsd:schema>
<xsd:import namespace="http://serviciosWeb/" schemaLocation="http://192.168.16.12:7101/AppServidorColegioSW-ProyectoServidorColegioSW-context-root/ServiciosExtraSWPort?xsd=1"/>
</xsd:schema>
</types>
<message name="darCantidadMateriasPorGradoCursando">
<part name="parameters" element="tns:darCantidadMateriasPorGradoCursando"/>
</message>
<message name="darCantidadMateriasPorGradoCursandoResponse">
<part name="parameters" element="tns:darCantidadMateriasPorGradoCursandoResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="cantidadEstudiantesRegistrados">
<part name="parameters" element="tns:cantidadEstudiantesRegistrados"/>
</message>
<message name="cantidadEstudiantesRegistradosResponse">
<part name="parameters" element="tns:cantidadEstudiantesRegistradosResponse"/>
</message>
<message name="cantidadMateriasRegistradas">
<part name="parameters" element="tns:cantidadMateriasRegistradas"/>
</message>
<message name="cantidadMateriasRegistradasResponse">
<part name="parameters" element="tns:cantidadMateriasRegistradasResponse"/>
</message>
<message name="cantidadMatriculasRegistradas">
<part name="parameters" element="tns:cantidadMatriculasRegistradas"/>
</message>
<message name="cantidadMatriculasRegistradasResponse">
<part name="parameters" element="tns:cantidadMatriculasRegistradasResponse"/>
</message>
<portType name="ServiciosExtraSW">
<operation name="darCantidadMateriasPorGradoCursando">
<input wsam:Action="http://serviciosWeb/ServiciosExtraSW/darCantidadMateriasPorGradoCursandoRequest" message="tns:darCantidadMateriasPorGradoCursando"/>
<output wsam:Action="http://serviciosWeb/ServiciosExtraSW/darCantidadMateriasPorGradoCursandoResponse" message="tns:darCantidadMateriasPorGradoCursandoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServiciosExtraSW/darCantidadMateriasPorGradoCursando/Fault/Exception"/>
</operation>
<operation name="cantidadEstudiantesRegistrados">
<input wsam:Action="http://serviciosWeb/ServiciosExtraSW/cantidadEstudiantesRegistradosRequest" message="tns:cantidadEstudiantesRegistrados"/>
<output wsam:Action="http://serviciosWeb/ServiciosExtraSW/cantidadEstudiantesRegistradosResponse" message="tns:cantidadEstudiantesRegistradosResponse"/>
</operation>
<operation name="cantidadMateriasRegistradas">
<input wsam:Action="http://serviciosWeb/ServiciosExtraSW/cantidadMateriasRegistradasRequest" message="tns:cantidadMateriasRegistradas"/>
<output wsam:Action="http://serviciosWeb/ServiciosExtraSW/cantidadMateriasRegistradasResponse" message="tns:cantidadMateriasRegistradasResponse"/>
</operation>
<operation name="cantidadMatriculasRegistradas">
<input wsam:Action="http://serviciosWeb/ServiciosExtraSW/cantidadMatriculasRegistradasRequest" message="tns:cantidadMatriculasRegistradas"/>
<output wsam:Action="http://serviciosWeb/ServiciosExtraSW/cantidadMatriculasRegistradasResponse" message="tns:cantidadMatriculasRegistradasResponse"/>
</operation>
</portType>
<binding name="ServiciosExtraSWPortBinding" type="tns:ServiciosExtraSW">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="darCantidadMateriasPorGradoCursando">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="cantidadEstudiantesRegistrados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cantidadMateriasRegistradas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cantidadMatriculasRegistradas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiciosExtraSW">
<port name="ServiciosExtraSWPort" binding="tns:ServiciosExtraSWPortBinding">
<soap:address location="http://192.168.16.12:7101/AppServidorColegioSW-ProyectoServidorColegioSW-context-root/ServiciosExtraSWPort"/>
</port>
</service>
</definitions>