src/META-INF/wsdl/192.168.16.12_7101/AppServidorColegioSW-ProyectoServidorColegioSW-context-root/ServicioMateriaSWPort.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serviciosWeb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serviciosWeb/" name="ServicioMateriaSW">
<types>
<xsd:schema>
<xsd:import namespace="http://serviciosWeb/" schemaLocation="http://192.168.16.12:7101/AppServidorColegioSW-ProyectoServidorColegioSW-context-root/ServicioMateriaSWPort?xsd=1"/>
</xsd:schema>
</types>
<message name="darMaterias">
<part name="parameters" element="tns:darMaterias"/>
</message>
<message name="darMateriasResponse">
<part name="parameters" element="tns:darMateriasResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="darMateriaPorCodigo">
<part name="parameters" element="tns:darMateriaPorCodigo"/>
</message>
<message name="darMateriaPorCodigoResponse">
<part name="parameters" element="tns:darMateriaPorCodigoResponse"/>
</message>
<message name="darMateriasPorGrado">
<part name="parameters" element="tns:darMateriasPorGrado"/>
</message>
<message name="darMateriasPorGradoResponse">
<part name="parameters" element="tns:darMateriasPorGradoResponse"/>
</message>
<portType name="ServicioMateriaSW">
<operation name="darMaterias">
<input wsam:Action="http://serviciosWeb/ServicioMateriaSW/darMateriasRequest" message="tns:darMaterias"/>
<output wsam:Action="http://serviciosWeb/ServicioMateriaSW/darMateriasResponse" message="tns:darMateriasResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioMateriaSW/darMaterias/Fault/Exception"/>
</operation>
<operation name="darMateriaPorCodigo">
<input wsam:Action="http://serviciosWeb/ServicioMateriaSW/darMateriaPorCodigoRequest" message="tns:darMateriaPorCodigo"/>
<output wsam:Action="http://serviciosWeb/ServicioMateriaSW/darMateriaPorCodigoResponse" message="tns:darMateriaPorCodigoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioMateriaSW/darMateriaPorCodigo/Fault/Exception"/>
</operation>
<operation name="darMateriasPorGrado">
<input wsam:Action="http://serviciosWeb/ServicioMateriaSW/darMateriasPorGradoRequest" message="tns:darMateriasPorGrado"/>
<output wsam:Action="http://serviciosWeb/ServicioMateriaSW/darMateriasPorGradoResponse" message="tns:darMateriasPorGradoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioMateriaSW/darMateriasPorGrado/Fault/Exception"/>
</operation>
</portType>
<binding name="ServicioMateriaSWPortBinding" type="tns:ServicioMateriaSW">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="darMaterias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="darMateriaPorCodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="darMateriasPorGrado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="ServicioMateriaSW">
<port name="ServicioMateriaSWPort" binding="tns:ServicioMateriaSWPortBinding">
<soap:address location="http://192.168.16.12:7101/AppServidorColegioSW-ProyectoServidorColegioSW-context-root/ServicioMateriaSWPort"/>
</port>
</service>
</definitions>