xml-resources/web-service-references/ServicioMatriculaSWPort/wsdl/192.168.16.12_7101/AppServidorColegioSW-ProyectoServidorColegioSW-context-root/ServicioMatriculaSWPort.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serviciosWeb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serviciosWeb/" name="ServicioMatriculaSW">
<types>
<xsd:schema>
<xsd:import namespace="http://serviciosWeb/" schemaLocation="http://192.168.16.12:7101/AppServidorColegioSW-ProyectoServidorColegioSW-context-root/ServicioMatriculaSWPort?xsd=1"/>
</xsd:schema>
</types>
<message name="darMatriculas">
<part name="parameters" element="tns:darMatriculas"/>
</message>
<message name="darMatriculasResponse">
<part name="parameters" element="tns:darMatriculasResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="darMatriculaCodigo">
<part name="parameters" element="tns:darMatriculaCodigo"/>
</message>
<message name="darMatriculaCodigoResponse">
<part name="parameters" element="tns:darMatriculaCodigoResponse"/>
</message>
<message name="actualizarMatricula">
<part name="parameters" element="tns:actualizarMatricula"/>
</message>
<message name="actualizarMatriculaResponse">
<part name="parameters" element="tns:actualizarMatriculaResponse"/>
</message>
<message name="darMatriculasEstudiante">
<part name="parameters" element="tns:darMatriculasEstudiante"/>
</message>
<message name="darMatriculasEstudianteResponse">
<part name="parameters" element="tns:darMatriculasEstudianteResponse"/>
</message>
<message name="darMatriculasEstudianteGrado">
<part name="parameters" element="tns:darMatriculasEstudianteGrado"/>
</message>
<message name="darMatriculasEstudianteGradoResponse">
<part name="parameters" element="tns:darMatriculasEstudianteGradoResponse"/>
</message>
<message name="darMateriasPorGrado">
<part name="parameters" element="tns:darMateriasPorGrado"/>
</message>
<message name="darMateriasPorGradoResponse">
<part name="parameters" element="tns:darMateriasPorGradoResponse"/>
</message>
<message name="matricularEstudiante">
<part name="parameters" element="tns:matricularEstudiante"/>
</message>
<message name="matricularEstudianteResponse">
<part name="parameters" element="tns:matricularEstudianteResponse"/>
</message>
<message name="darPazYSalvoEstudiante">
<part name="parameters" element="tns:darPazYSalvoEstudiante"/>
</message>
<message name="darPazYSalvoEstudianteResponse">
<part name="parameters" element="tns:darPazYSalvoEstudianteResponse"/>
</message>
<message name="borrarMatriculaCodigo">
<part name="parameters" element="tns:borrarMatriculaCodigo"/>
</message>
<message name="borrarMatriculaCodigoResponse">
<part name="parameters" element="tns:borrarMatriculaCodigoResponse"/>
</message>
<message name="darPromedioEstudiante">
<part name="parameters" element="tns:darPromedioEstudiante"/>
</message>
<message name="darPromedioEstudianteResponse">
<part name="parameters" element="tns:darPromedioEstudianteResponse"/>
</message>
<message name="darMatriculasPorFecha">
<part name="parameters" element="tns:darMatriculasPorFecha"/>
</message>
<message name="darMatriculasPorFechaResponse">
<part name="parameters" element="tns:darMatriculasPorFechaResponse"/>
</message>
<portType name="ServicioMatriculaSW">
<operation name="darMatriculas">
<input wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darMatriculasRequest" message="tns:darMatriculas"/>
<output wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darMatriculasResponse" message="tns:darMatriculasResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darMatriculas/Fault/Exception"/>
</operation>
<operation name="darMatriculaCodigo">
<input wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darMatriculaCodigoRequest" message="tns:darMatriculaCodigo"/>
<output wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darMatriculaCodigoResponse" message="tns:darMatriculaCodigoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darMatriculaCodigo/Fault/Exception"/>
</operation>
<operation name="actualizarMatricula">
<input wsam:Action="http://serviciosWeb/ServicioMatriculaSW/actualizarMatriculaRequest" message="tns:actualizarMatricula"/>
<output wsam:Action="http://serviciosWeb/ServicioMatriculaSW/actualizarMatriculaResponse" message="tns:actualizarMatriculaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioMatriculaSW/actualizarMatricula/Fault/Exception"/>
</operation>
<operation name="darMatriculasEstudiante">
<input wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darMatriculasEstudianteRequest" message="tns:darMatriculasEstudiante"/>
<output wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darMatriculasEstudianteResponse" message="tns:darMatriculasEstudianteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darMatriculasEstudiante/Fault/Exception"/>
</operation>
<operation name="darMatriculasEstudianteGrado">
<input wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darMatriculasEstudianteGradoRequest" message="tns:darMatriculasEstudianteGrado"/>
<output wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darMatriculasEstudianteGradoResponse" message="tns:darMatriculasEstudianteGradoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darMatriculasEstudianteGrado/Fault/Exception"/>
</operation>
<operation name="darMateriasPorGrado">
<input wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darMateriasPorGradoRequest" message="tns:darMateriasPorGrado"/>
<output wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darMateriasPorGradoResponse" message="tns:darMateriasPorGradoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darMateriasPorGrado/Fault/Exception"/>
</operation>
<operation name="matricularEstudiante">
<input wsam:Action="http://serviciosWeb/ServicioMatriculaSW/matricularEstudianteRequest" message="tns:matricularEstudiante"/>
<output wsam:Action="http://serviciosWeb/ServicioMatriculaSW/matricularEstudianteResponse" message="tns:matricularEstudianteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioMatriculaSW/matricularEstudiante/Fault/Exception"/>
</operation>
<operation name="darPazYSalvoEstudiante">
<input wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darPazYSalvoEstudianteRequest" message="tns:darPazYSalvoEstudiante"/>
<output wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darPazYSalvoEstudianteResponse" message="tns:darPazYSalvoEstudianteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darPazYSalvoEstudiante/Fault/Exception"/>
</operation>
<operation name="borrarMatriculaCodigo">
<input wsam:Action="http://serviciosWeb/ServicioMatriculaSW/borrarMatriculaCodigoRequest" message="tns:borrarMatriculaCodigo"/>
<output wsam:Action="http://serviciosWeb/ServicioMatriculaSW/borrarMatriculaCodigoResponse" message="tns:borrarMatriculaCodigoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioMatriculaSW/borrarMatriculaCodigo/Fault/Exception"/>
</operation>
<operation name="darPromedioEstudiante">
<input wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darPromedioEstudianteRequest" message="tns:darPromedioEstudiante"/>
<output wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darPromedioEstudianteResponse" message="tns:darPromedioEstudianteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darPromedioEstudiante/Fault/Exception"/>
</operation>
<operation name="darMatriculasPorFecha">
<input wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darMatriculasPorFechaRequest" message="tns:darMatriculasPorFecha"/>
<output wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darMatriculasPorFechaResponse" message="tns:darMatriculasPorFechaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serviciosWeb/ServicioMatriculaSW/darMatriculasPorFecha/Fault/Exception"/>
</operation>
</portType>
<binding name="ServicioMatriculaSWPortBinding" type="tns:ServicioMatriculaSW">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="darMatriculas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="darMatriculaCodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="actualizarMatricula">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="darMatriculasEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="darMatriculasEstudianteGrado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="darMateriasPorGrado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="matricularEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="darPazYSalvoEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="borrarMatriculaCodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="darPromedioEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="darMatriculasPorFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="ServicioMatriculaSW">
<port name="ServicioMatriculaSWPort" binding="tns:ServicioMatriculaSWPortBinding">
<soap:address location="http://192.168.16.12:7101/AppServidorColegioSW-ProyectoServidorColegioSW-context-root/ServicioMatriculaSWPort"/>
</port>
</service>
</definitions>